body, html {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.testimonials {
  padding-top: 5rem;
  padding-bottom: 7rem;
}

.testimonials .testimonial-item {
  max-width: 18rem;
}

.testimonials .testimonial-item img {
  max-width: 12rem;
  -webkit-box-shadow: 0px 5px 5px 0px #adb5bd;
  box-shadow: 0px 5px 5px 0px #adb5bd;
}

.testimonials .row {
  margin-top: 3%;
}


footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.purpose {
  padding-top: 5rem;
  padding-bottom: 7rem;
  background-image: url("../img/flood.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.purpose .lead {
  padding-left: 7rem;
  padding: 2rem;
  background-color: grey;
  opacity: 0.9;
  margin: 30px;
}

.information .list-group {
  margin-left: 400px;
  margin-right: 400px;
}

.information .links {
  margin-top: 20px;
}
