/*!
 * Start Bootstrap - 3 Col Portfolio (https://startbootstrap.com/template-overviews/3-col-portfolio)
 * Copyright 2013-2018 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-3-col-portfolio/blob/master/LICENSE)
 */

 body, html {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.portfolio-item {
  margin-bottom: 30px;
}

.portfolio-item img {
  height: 200px;
  overflow: hidden;
}

/* .card-title a {
  position: absolute;
  right: 14px;
  bottom: 26px;
} */

.card-text {
  font-size: 65%;
}

.pagination {
  padding-bottom: 40px;
}