body, html {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}
@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.card {
  margin-bottom: 30px;
}

.pagination {
  padding-bottom: 40px;
}