/*!
 * Start Bootstrap - 3 Col Portfolio (https://startbootstrap.com/template-overviews/3-col-portfolio)
 * Copyright 2013-2018 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-3-col-portfolio/blob/master/LICENSE)
 */

body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.portfolio-item {
  margin-bottom: 30px;
}

.portfolio-item img {
  /* max-width: 100%; */
  height: 200px;
  /* max-width:100%; */
  overflow: hidden;
}

/* .card-title a {
  position: absolute;
  right: 14px;
  bottom: 26px;
} */

.card-text {
  font-size: 65%;
}

.pagination {
  padding-bottom: 40px;
}