body, html {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.jumbotron {
  margin: 30px;
}

.jumbotron .lead {
  margin-left: 400px;
  margin-right: 400px;
}

.jumbotron img {
  max-width: 400px;
  max-height: 900px;
}